@use '../../../../shared/fonts/shared-styles' as shared;

.container{
    padding-left: 0.2vw
}

.title-page{
    font-size: 25px;
    font-weight: shared.$font-bold;
}

.sub-title-page{
    font-size: 16px;
    padding-top: 8px;
    color: #787b84;
}

.div-container-body{
    padding-top: 4vh; 
    width: fit-content;
}

.div-wrapper-button{
    padding-bottom: 2vh; 
    display: flex; 
    justify-content: end;
}

.wrapper-icon-button{
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.btn-style {   
    border-color: #0b5add; 
    background-color: #0b5add; 
    text-align: center; 
    color: white; 
    border-radius: 8px; 
    cursor: pointer;
    height: 4vh;
    width: 8vw;
    display: flex;
    justify-content: center;
}

.btn-text {
    display: flex; 
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center; 
    font-size: 15px;
}

.status-criado {   
    border-color: #e9ebf1; 
    background-color: #e9ebf1; 
    text-align: center; 
    color: black; 
    border-radius: 8px; 
    height: 3vh;
    width: 4vw;
    display: flex;
    justify-content: center;
}
.status-criado-text {
    display: flex; 
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center; 
    font-size: 13px;
    font-weight: shared.$font-bold;
}

.status-confirmado {   
    border-color: #ddf9e4; 
    background-color: #ddf9e4; 
    text-align: center; 
    color: #4d946e; 
    border-radius: 8px; 
    height: 3vh;
    width: 5vw;
    display: flex;
    justify-content: center;
}
.status-confirmado-text {
    display: flex; 
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center; 
    font-size: 13px;
    font-weight: shared.$font-bold;
}

.status-finalizado {   
    border-color: #cbdffe; 
    background-color: #cbdffe; 
    text-align: center; 
    color: #1f61eb; 
    border-radius: 8px; 
    height: 3vh;
    width: 5vw;
    display: flex;
    justify-content: center;
}
.status-finalizado-text {
    display: flex; 
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center; 
    font-size: 13px;
    font-weight: shared.$font-bold;
}

.status-cancelado {   
    border-color: #eb4f4c; 
    background-color: #eb4f4c; 
    text-align: center; 
    color: white; 
    border-radius: 8px; 
    height: 3vh;
    width: 5vw;
    display: flex;
    justify-content: center;
}
.status-cancelado-text {
    display: flex; 
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center; 
    font-size: 13px;
    font-weight: shared.$font-bold;
}

//Btn Ações:
.btn-acao-confirmar {   
    border-color: #4d946e; 
    border-style: solid;
    border-width: 2px;
    background-color: transparent; 
    text-align: center; 
    color: #4d946e; 
    border-radius: 8px; 
    cursor: pointer;
    height: 3vh;
    width: 4vw;
    display: flex;
    justify-content: center;
}
.btn-acao-confirmar-text {
    display: flex; 
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center; 
    font-size: 13px;
    font-weight: shared.$font-bold;
}

.btn-acao-finalizar {   
    border-color: #1f61eb; 
    border-style: solid;
    border-width: 2px;
    background-color: transparent; 
    text-align: center; 
    color: #1f61eb; 
    border-radius: 8px; 
    cursor: pointer;
    height: 3vh;
    width: 4vw;
    display: flex;
    justify-content: center;
}
.btn-acao-finalizar-text {
    display: flex; 
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center; 
    font-size: 13px;
    font-weight: shared.$font-bold;
}

.btn-acao-cancelar {   
    border-color: #eb4f4c; 
    border-style: solid;
    border-width: 2px;
    background-color: transparent; 
    text-align: center; 
    color: #eb4f4c; 
    border-radius: 8px; 
    cursor: pointer;
    height: 3vh;
    width: 4vw;
    display: flex;
    justify-content: center;
}
.btn-acao-cancelar-text {
    display: flex; 
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center; 
    font-size: 13px;
    font-weight: shared.$font-bold;
}

// ----------------------------------------------
.column-style-grid-first{
    font-weight: shared.$font-bold;
    font-size: 13px;
    border-top-left-radius: 8px;
    text-align: start;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.column-style-grid-end{
    font-weight: shared.$font-bold;
    font-size: 13px;
    border-top-right-radius: 8px;
    text-align: start;
}

.column-style-grid{
    font-weight: shared.$font-bold;
    font-size: 13px;
    border-color: #F4F6FA;
    border-style: solid;
    border-width: thin;
    text-align: start;
}

.column-style-dados-grid{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-color: #F4F6FA;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.column-style-dados-grid-with-initial-space{
    padding-top: 8px;
    padding-left: 5px;
    padding-bottom: 8px;
    border-bottom-color: #F4F6FA;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}


table{
    border-spacing: unset;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-left-color: #F4F6FA;
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: #F4F6FA;
    border-right-style: solid;
    border-right-width: 3px;
}

.field-style-text-dados{
    font-weight: shared.$font-regular;
    font-size: 13px;
}
